html, body, h1, p, button, form, label {
  font-family: "Montserrat";
  color: white;
}

html, body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 40px;
}

.iphone-design {
  width: 375px;
  height: 667px;
  background-color: black;
  position: absolute;
}

.main-header {
  position: absolute;
  top: 15%;
  left: 16%;
}

.main-button {
  position: absolute;
  top: 85%;
  left: 18%;
  width: 241px;
}

.main-button button {
background-color: transparent; /* Green */
 border: 1px solid red;
 border-radius: 37px;
 color: grey;
 padding: 10px 40px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 12px;
 margin: 4px 2px;
 cursor: pointer;
}

/* Login */

label, input {
  display: block;
}

label {
  margin-bottom: 5px;
  margin-top: 40px;
}

.main-form {
  position: absolute;
  font-weight: 300;
  color: #929191;
  top: 25%;
  column-gap: 10px;
  left: 16%;
  font-size: 20px;
}

.main-form input {
  background: transparent;
    border: 0;
    color: white;
    border-bottom: 1px solid #707070;
    width: 250px;
    outline: 0;
    padding: 0;
}

.login {
  position: absolute;
  top: 80%;
  left: 19%;
}

.login button {
  padding: 10px 95px;
  font-family: "Montserrat";
  border-color: #929191;
}

.main-header-login {
  position: absolute;
  top: 5%;
  left: 16%;
}

.main-header-patients {
  position: absolute;
  top: 5%;
  left: 5%;
}


/* Patients */

.patients {
  position: absolute;
  top: 15%;
  height: 100px;
  width: 100px;
}

.patients button {
  padding: 8px 80px;
}
