html, body {
  color: white !important;
  background-color: black;
}

h1 {
margin: 0;
}

.iphone-design {
  height: 1100px;
  width: 375px;
}

p {

}

.date-header {
  margin-bottom: -1rem;
  color: grey;
  font-size: 12px;
}

img {
 width: 317px;
 height: 301px;
}

.card-img {
  border-radius: 30px;
}

.main-header-patients {
  top: 3.3%;
  left: 5%;
}

.card-img-overlay p {
  position: absolute;
  top: 72%;
  left: 5%;
  font-weight: 700;
}

.card-img-overlay h5 {
  position: absolute;
  top: 68%;
  left: 5%;
  font-size: 30px;
}

.card {
  position: absolute;
  top: 14%;
  left: 7.5%;
  width: 17.8em;
}

.two {
  top: 43%;
}

.three {
  top: 105%;
  left: 0%;
}

.btn-low-right {
  margin-top: 82%;
  border-color: black;
  color: black;
}

.close-btn img{
  position: absolute;
  top: 2%;
right: 2%;
width: 50px;
height: 50px;
}

button {
  position: absolute;
  top: 7.2%;
  left: 70%;
  background-color: transparent; /* Green */
   border: 1px solid red;
   border-radius: 37px;
   color: grey;
   padding: 8px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12;
   cursor: pointer;
}
